.red{
    background-color: red;
    color: white;
}

#pop-challenge{
    padding: 3rem;
}

.randColor{
    padding: 15px 20px;
    border: 2px solid black;
    text-align: center;
}


/* adv list css */
.adv-css{
    background-color: #eee;
    color: red;
    text-decoration: line-through;
    /* background-image: url("https://res.cloudinary.com/sbullkoft/image/upload/v1481411917/delete-128_wxp3a5.png");
	background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between; */
}

